@font-face {
    font-family: 'sf_pro';
    src: url('../webfonts/sf-pro-display-black-webfont.eot');
    src: url('../webfonts/sf-pro-display-black-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/sf-pro-display-black-webfont.woff2') format('woff2'),
         url('../webfonts/sf-pro-display-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}




@font-face {
    font-family: 'sf_pro';
    src: url('../webfonts/sf-pro-display-bold-webfont.eot');
    src: url('../webfonts/sf-pro-display-bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/sf-pro-display-bold-webfont.woff2') format('woff2'),
         url('../webfonts/sf-pro-display-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'sf_pro';
    src: url('../webfonts/sf-pro-display-heavy-webfont.eot');
    src: url('../webfonts/sf-pro-display-heavy-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/sf-pro-display-heavy-webfont.woff2') format('woff2'),
         url('../webfonts/sf-pro-display-heavy-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}




@font-face {
    font-family: 'sf_pro';
    src: url('../webfonts/sf-pro-display-light-webfont.eot');
    src: url('../webfonts/sf-pro-display-light-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/sf-pro-display-light-webfont.woff2') format('woff2'),
         url('../webfonts/sf-pro-display-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'sf_pro';
    src: url('../webfonts/sf-pro-display-medium-webfont.eot');
    src: url('../webfonts/sf-pro-display-medium-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/sf-pro-display-medium-webfont.woff2') format('woff2'),
         url('../webfonts/sf-pro-display-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'sf_pro';
    src: url('../webfonts/sf-pro-display-regular-webfont.eot');
    src: url('../webfonts/sf-pro-display-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/sf-pro-display-regular-webfont.woff2') format('woff2'),
         url('../webfonts/sf-pro-display-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'sf_pro';
    src: url('../webfonts/sf-pro-display-semibold-webfont.eot');
    src: url('../webfonts/sf-pro-display-semibold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/sf-pro-display-semibold-webfont.woff2') format('woff2'),
         url('../webfonts/sf-pro-display-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'sf_pro';
    src: url('../webfonts/sf-pro-display-thin-webfont.eot');
    src: url('../webfonts/sf-pro-display-thin-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/sf-pro-display-thin-webfont.woff2') format('woff2'),
         url('../webfonts/sf-pro-display-thin-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'sf_pro';
    src: url('../webfonts/sf-pro-display-ultralight-webfont.eot');
    src: url('../webfonts/sf-pro-display-ultralight-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/sf-pro-display-ultralight-webfont.woff2') format('woff2'),
         url('../webfonts/sf-pro-display-ultralight-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}